*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* Calculator container */

.main {
    /*
    position: relative;
    min-height: 100vh; 
    */
    padding-bottom: 2.5rem; /*Same as footer height - looks better in mobile when applied */
    display: flex;
    justify-content: center;
    align-items: start;
    flex: 1;
    margin-top: 80px;
}

.calculator {
    background-color: rgb(51, 51, 51);
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    min-width: 300px;
    min-height: 560px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Screen */

.display {
    min-height: 100px;
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 8px;
}

.screen-previous {
    min-height: 24px;
}
.screen-current {
    min-height: 52px;
}

.screen-previous, 
.screen-current {
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden; /* Prevents the text inside the span to overlap its div */
}

.previous-text {
    font-size: 20px;
}

.current-text {
    font-size: 40px;
}

/* Buttons */

.button-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.layer {
    flex: 1;
    display: flex;
    gap: 10px;
}

.button {
    color: white;
    font-size: larger;
    border: 2px solid #000000;
    flex: 1;
    border-radius: 8px;
}

.emerald-button {
    background-color: hsl(140, 52%, 55%);
}

.emerald-button:hover {
    background-color: hsl(140, 46.8%, 49.5%);
    transition: 0.3s;
}

.emerald-button:active {
    background-color: hsl(140, 41.6%, 44.0%);
}

#equals:active {
    background-color: hsl(140, 31.2%, 33%);;
}

.blue-button {
    background-color: hsl(210, 50%, 60%);
}

.blue-button:hover {
    background-color: hsl(210, 45%, 54%);
    transition: 0.3s;
}

.blue-button:active {
    background-color: hsl(210, 40%, 48%);
}

.gray-button {
    background-color: hsl(227, 7%, 38%);
}

.gray-button:hover {
    background-color: hsl(227, 6.3%, 34.2%);
    transition: 0.3s;
}

.gray-button:active {
    background-color: hsl(227, 5.6%, 30.4%);
}

/* Footer */

.footer {
    font-size: 20px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}